<div style="flex-wrap: wrap;">
    <div class="getAllNotes" fxLayout="{{view}}" fxFlexOffset="15" >
        <mat-card class="getNotesMat" [ngStyle]="{'background':note.note_color}"
            [ngClass]="{'qwerty':flag,'qwerty2':!flag}"  *ngFor="let note of notes" >
            <div (click)="openDialog(note)" >
                <div class="title">
                    {{note.title}}
                </div>
                <div class="title">
                    {{note.content}}
                </div>
            </div>
            <div>
                <app-iconlist></app-iconlist>
            </div>
        </mat-card>
    </div>
</div>
