<div>
    <div class="title2">
    <h1>FundooNote Register</h1></div>
    <form>
        <div class="form-group">
            <label class="form-control">FirstName</label>
            <input type="text" name="firstName">
        </div>

        <div class="form-group">
            <label class="form-control">LastName</label>
            <input type="text" name="lastName">
        </div>

        <div class="form-group">
            <label class="form-control">UserName</label>
            <input type="text" name="userName">
        </div>

        <div class="form-group">
            <label class="form-control">PhoneNumber</label>
            <input type="tel" name="mobile">
        </div>

        <div class="form-group">
            <label class="form-control">Email</label>
            <input type="email" name="email">
        </div>

        <div class="form-group">
            <label class="form-control">Password</label>
            <input type="password" name="password">
        </div>

        <div class="form-group">
        <button type="submit">Submit</button>
        </div>
    </form>
</div>