<div class=main-div>
    <mat-card style="width: 30em; height: 80vh; box-shadow: 1px 1px 7px 0px;">
      <form [formGroup]="registerForm">
  
  
  
        <div fxLayout="row" fxLayoutAlign="center" style="font-size:24px; margin-bottom: 25px;">
            <span style="color: rgb(255, 174, 0);">F</span>
            <span style="color: rgba(0, 0, 0, 0.342);">undoo</span>
            <span style="color: rgb(255, 174, 0);">N</span>
            <span style="color: rgba(0, 0, 0, 0.342);">otes</span>
          </div>
  
  
  
        <div class="Title2">Register</div>
        <div class="form_field">
  
          <mat-form-field appearance="outline">
            <mat-label>firstName</mat-label>
              <input matInput placeholder="firstname" formControlName="firstname">
              <mat-icon>perm_identity</mat-icon>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>lastName</mat-label>
            <input matInput placeholder="lastname" formControlName="lastname">
            <mat-icon>perm_identity</mat-icon>
          </mat-form-field></div>
  
        <div>
          <mat-form-field appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="UserName" formControlName="username">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field></div>

        
  
        <div>
          <mat-form-field appearance="outline" class="form-Email">
            <mat-label>Email</mat-label>
              <input matInput placeholder="email" formControlName="email">
              <mat-icon>account_circle</mat-icon>
            </mat-form-field>
  
        </div>
        <div class="form_field">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          </mat-form-field>
  
  
  
          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput placeholder="mobilenumber" formControlName="mobile">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
  
        </div>
  
        <div class="form_field">
          <button mat-raised-button (click)="onSubmit()">Register</button>
  
          <a href="http://localhost:4200/login">Login</a>
        </div>
      </form>
    </mat-card>
  </div>