<mat-toolbar class="docs-navbar-header">
    <mat-toolbar-row>
  
      <div class="Main">
        <div class="sideNavIcon">
          <div>
  
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  
          </div>
          <div>
            <img src="assets/keep-icon.png" height="50px" width="50px">
          </div>
  
          <div>Fundoo</div>
  
        </div>
  
        <div class="searchWhole">
  
  
          <div class="searchbar">
            <div class="searchIcon">
              <mat-icon matSuffix>search</mat-icon>
            </div>
            <div>
              <input class="input" matInput type="searchbar" placeholder="  Search" style="outline:none;">
            </div>
          </div>
  
          <div class="appBarLastIcon">
            <div class="refresh">
              <button id="refreshbutton" mat-icon-button>
                <mat-icon>refresh</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>reorder</mat-icon>
              </button>
            </div>
  
  
            <button mat-icon-button>
              <mat-icon>
                account_circle
              </mat-icon>
            </button>
  
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>
  
  <!-- side navigation bar -->
  
  <!-- <div>
    <router-outlet></router-outlet>
  </div> -->
  
   <div class="sidenavdiv">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="maindiv">
  
  
          <div class="notesdiv">
            
            <button style="width: 180px;border-radius: 0 10px 10px 0;" class="notes" (click)="notes()">
              <img src="assets/icon/event_note-24px.svg">
              Notes
            </button><br>
  
            <button class="remainder" style="width: 180px;border-radius: 0 10px 10px 0;" (click)="reminder()">
              <img src="assets/icon/notifications_none-24px.svg">
              Reminders
            </button>
  
          </div>
          
          <div class="lebelmain">
  
            <div class="labelmain">
              LABELS
            </div><br>
  
            <button class="label" style="width: 180px;border-radius: 0 10px 10px 0;" (click)="label()">
              <img src="assets/icon/edit-24px.svg">
              Edit labels
            </button>
  
          </div>
  
          <div class="trashmain">
            <button class="archive" style="width: 180px;border-radius: 0 10px 10px 0;" (click)="archive()">
                <img src="assets/icon/archive-24px.svg">
                Archive
            </button><br>
            <button class="trash" style="width: 180px;border-radius: 0 10px 10px 0;" (click)="trash()">
                <img src="assets/icon/delete-24px.svg">
                Trash
            </button>
          </div>
        </div>
      </mat-drawer>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div> 
