.getNotesMat{
    width: 220px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 1px 6px 0px;
    margin: 10px;
}

.title{
    margin-top: 9%;
}

.getAllNotes {
    display: flex;
    flex-wrap: wrap;
}

.pinNotes {
    display: inline;
    padding-left: 180px;
}