<div class="sidenavdiv">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="maindiv">
  
  
          <div class="notesdiv">
  
            <div class="notes">
              <img src="assets/icon/emoji_objects-24px.svg">
              Notes
            </div>
  
            <div class="remainder">
              <img src="assets/icon/notifications_none-24px.svg">
              Remainder
            </div>
  
          </div>
          
          <div class="lebelmain">
  
            <div>
              LABELS
            </div>
  
            <div>
              <img src="assets/icon/edit-24px.svg">
              Edit labels
            </div>
  
          </div>
  
          <div class="trashmain">
            <div class="archieve">
                <img src="assets/icon/archive-24px.svg">
                Archive
            </div>
            <div class="trash">
                <img src="assets/icon/restore_from_trash-24px.svg">
                Trash
            </div>
          </div>
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>
