<div>
    <div class="title2">
    <h1>FundooNote LogIn</h1></div>
    <form>
        <div class="form-group">
            <label class="form-control">Email</label>
            <input type="email" name="email">
        </div>

        <div class="form-group">
            <label class="form-control">Password</label>
            <input type="password" name="password">
        </div>

        <div class="button">
            <div>
              <a href="http://localhost:4200/register">signUp</a>
            </div>
            <div>
                <button mat-raised-button (click)="onSubmit()">LogIn</button>
            </div>
        </div>

        <div class="forgot">
            <a href="http://localhost:4200/forgetPassword">Forgot Password</a>
        </div>

    </form>
</div>
