.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
   width: 100%;
  
}
.matCard{
  height: 70vh;
  width: 25em;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

.Title{
  display: flex;
  justify-content: center;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
color: rgb(108, 93, 238);
}

.Title2{
  display: flex;
  justify-content: center;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
color: rgba(16, 14, 122, 0.795);
margin-bottom: 20px;
}
.button{
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}
.forgot{
  display: flex;
  justify-content:center;
}

.Log{
  width: 100%;
}