<div class="main" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button>
        <img src="../../../assets/icon/remainder.svg" matTooltip="Add Reminder" (click)="open(notesicon.id)"/>
    </button>

    <button mat-icon-button>
        <img src="../../../assets/icon/collab.svg" matTooltip="Add Collobrate" (click)=collabrator()/>
    </button>

    <button mat-icon-button>
        <img src="../../../assets/icon/colorpalate.svg" (click)="onClickColorPlate()" matTooltip="Add Color"/>
    </button>

    <button mat-icon-button>
        <img src="../../../assets/icon/addImage.svg" matTooltip="Add Image" (click)=addImages()/>
    </button>

    <button *ngIf="!isArchive" mat-icon-button>
        <img src="../../../assets/icon/archive-24px.svg" (click)="onClickArchive()" matTooltip="Archive">
    </button>
    <button *ngIf="isArchive">
        <img src="../../../assets/icon/unarchive-24px.svg" (click)="onClickArchive()" matTooltip="UnArchive">
    </button>

    <button mat-icon-button>
        <img  mat-button [matMenuTriggerFor]="menu" style="height: 1.5em; width: 2em;" src="../../../assets/icon/more_vert-24px.svg" (click)="onclicksetNoteid(note.id)"
        matTooltip="More"/>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onClickDelete()">Delete Note</button>
            <!-- <button mat-menu-item>Add Label</button> -->
            <button mat-menu-item [matMenuTriggerFor]="vertebrates">Add Label</button>
            <button mat-menu-item>Add Drawing</button>
        </mat-menu>
    </button>
 
</div>
