<div class="main" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button>
        <img src="../../../assets/icon/remainder.svg" matTooltip="Add Reminder" (click)="open(note.id)"/>
    </button>

    <button mat-icon-button>
        <img src="../../../assets/icon/collab.svg" matTooltip="Add Collobrate" (click)=collabrator()/>
    </button>

    <button mat-icon-button>
        <img src="../../../assets/icon/colorpalate.svg" [matMenuTriggerFor]="colorlist" matTooltip="Add Color"/>
    </button>

    <button mat-icon-button>
        <img src="../../../assets/icon/addImage.svg" matTooltip="Add Image" (click)=addImages()/>
    </button>
    <mat-menu #colorlist="matMenu" [overlapTrigger]="false">
        <ng-template matMenuContent>
            <div>
                <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px" *ngFor="let colors of arrayOfColors">
                    <div *ngFor="let color of colors">
                        <button [ngStyle]="{ 'background-color': color.color }" (click)="setColor((color.color))"
                            matTooltip="{{ color.name }}" mat-mini-fab></button>
    
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-menu>

    <button *ngIf="!isArchive" mat-icon-button>
        <img src="../../../assets/icon/archive-24px.svg" (click)="onClickArchive()" matTooltip="Archive">
    </button>
    <button *ngIf="isArchive">
        <img src="../../../assets/icon/unarchive-24px.svg" (click)="onClickArchive()" matTooltip="UnArchive">
    </button>

    <button mat-icon-button>
        <img  mat-button [matMenuTriggerFor]="menu" style="height: 1.5em; width: 2em;" src="../../../assets/icon/more_vert-24px.svg" (click)="onclicksetNoteid(note.id)"
        matTooltip="More"/>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onClickDelete()">Delete Note</button>
            <button mat-menu-item (click)="dailogLabel(label)">
                Create Label
            </button>
            <button mat-menu-item>Add Drawing</button>
        </mat-menu>
    </button>
 
</div>
