<div class="main-div">
    <mat-card class="matCard" style="box-shadow: 1px 1px 7px 0px;">
      
        <form [formGroup]="resetPasswordForm">
            <div>

                <div fxLayout="row" fxLayoutAlign="center" style="font-size:24px; margin-bottom: 25px;">
                    <span style="color: rgb(255, 174, 0);">F</span>
                    <span style="color: rgba(0, 0, 0, 0.342);">undoo</span>
                    <span style="color: rgb(255, 174, 0);">N</span>
                    <span style="color: rgba(0, 0, 0, 0.342);">otes</span>
                </div>

                <div class="Title2">Reset Password</div>
        
            </div>
      
            <div>
                <mat-form-field appearance="outline" class="Log">
                  <mat-label>New Password</mat-label>
                  <input matInput placeholder="password" [type]="hide ? 'text' : 'password'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="Log">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="password" [type]="hide1 ? 'text' : 'password'" formControlName="confirmpassword">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                     [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="button">
                <div>
                  <button mat-raised-button (click)="onSubmitReset()">Submit</button>
                </div>
            </div>

        </form>
    </mat-card>

</div>