<div class="main" fxLayout="row" fxLayoutAlign="space-around center">
    <div>
        <img src="assets/icon/remainder.svg" (click)=remainder()/>
    </div>

    <div>
        <img src="assets/icon/collab.svg" (click)=collabrator()/>
    </div>

    <div>
        <img src="assets/icon/colorpalate.svg" (click)=changeColor()/>
    </div>

    <div>
        <img src="assets/icon/addImage.svg" (click)=addImages()/>
    </div>

    <div>
        <img src="assets/icon/archive-24px.svg" (click)=archieve()/>
    </div>

    <div>
        <img src="assets/icon/more_vert-24px.svg"/>
    </div>
 
</div>
