<div class="main-div">
    <mat-card class="matCard" style="box-shadow: 1px 1px 7px 0px;">
      
      <form [formGroup]="forgetpassword">
        <div>

            <div fxLayout="row" fxLayoutAlign="center" style="font-size:24px; margin-bottom: 25px;">
                <span style="color: rgb(255, 174, 0);">F</span>
                <span style="color: rgba(0, 0, 0, 0.342);">undoo</span>
                <span style="color: rgb(255, 174, 0);">N</span>
                <span style="color: rgba(0, 0, 0, 0.342);">otes</span>
              </div>

            <div class="Title2">Forget Password</div>
        
        </div>
      
        <div>

          <mat-form-field appearance="outline" class="Log">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email">
          </mat-form-field>

        </div>

        <div class="button">
            <div>
                <button mat-raised-button (click)="onSubmit()">Submit</button>
            </div>
        </div>

      </form>
    </mat-card>

</div>