<div style="padding-left: 100px;font-family: fantasy;color: darkgray;">Pinnotes</div>
<div style="flex-wrap: wrap;">
    <div class="getAllNotes" fxLayout="{{view}}" fxFlexOffset="15" style="flex-direction: row; box-sizing: border-box; display: flex; margin-left: 15%; margin-right:7%;">
        <mat-card class="getNotesMat" [ngStyle]="{'background':note.note_color}"
            [ngClass]="{'qwerty':flag,'qwerty2':!flag}"  *ngFor="let note of pinnotes" >
            <div>
                <div class="pinNotes">
                    <app-pin-notes [note]="note" (click)="onClickNoteId(note.id)"></app-pin-notes>
                </div>
                <div class="title" (click)="openDialog(note)" >
                    {{note.title}}
                </div>
                <div class="title" (click)="openDialog(note)" >
                    {{note.content}}
                </div>
            </div>
            <div>
                <app-iconlist [note]="note"></app-iconlist>
            </div>
        </mat-card>
    </div>
</div>

<div style="padding-left: 100px;font-family: fantasy;color: darkgray;">Others</div>
<div style="flex-wrap: wrap;">
    <div class="getAllNotes" fxLayout="{{view}}" fxFlexOffset="15" style="flex-direction: row; box-sizing: border-box; display: flex; margin-left: 15%; margin-right:7%;">
        <mat-card class="getNotesMat" [ngStyle]="{'background':note.note_color}"
            [ngClass]="{'qwerty':flag,'qwerty2':!flag}"  *ngFor="let note of unpinnotes" >
            <div>
                <div class="pinNotes">
                    <app-pin-notes [note]="note" (click)="onClickNoteId(note.id)"></app-pin-notes>
                </div>
                <div class="title" (click)="openDialog(note)" >
                    {{note.title}}
                </div>
                <div class="title" (click)="openDialog(note)" >
                    {{note.content}}
                </div>
            </div>
            <div>
                <app-iconlist [note]="note"></app-iconlist>
            </div>
        </mat-card>
    </div>
</div>
