<div class="dialogg">
    <div fxLayout="row" fxLayoutAlign="start center">
      <span style="font-size:large; font-family: inherit">Collaborators</span>
    </div>
    <div style="height:64px"  fxLayout="row" fxLayoutAlign="start center">
      <div>
      <div  fxLayout="row" fxLayoutAlign="start start" fxLayoutGap=6px>
    </div>
      <div>{{email}}</div>
      </div>
    </div>
    <div style="width: 82%" *ngFor="let item of collarr">
        <div fxLayout="row" fxLayoutAlign="start center" >
           <div>
      <div style="width: 85%;">{{item.email}}</div>
      </div>
    </div>
  </div>

  <div  fxLayout="row" fxLayout="row" fxLayoutAlign="start center" >
    <div >
        <mat-icon matPrefix style="margin-right:10px;">person_add</mat-icon>
        </div>
        <div ><input class="input" matInput placeholder="person or email to share with" [formControl]="email1" required></div>
  
  <div >
      <button mat-icon-button (click)="writeEmail()"><mat-icon>done</mat-icon></button>
  </div>
</div> 

    <div class="colab" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button mat-dialog-close>Cancel</button>
     
</div>

</div>