.colab
{
    background-color: rgba(230, 227, 227, 0.856); 
    //height:54px;
}

.input
{
    border: none;
    background: transparent;
    outline: none;
    width: 356px;
   
}
.dialogg
{
    padding-left: 12px;
    padding-right: 12px;
    
}
.usr{
    padding: -5px;
    margin-bottom: 7px;
    margin-left: 2px;
    margin-right: 10px;
}